.content-wrapper {
  background-color: #fff;
}

.shiny-split-layout>div {
  overflow: hidden;
}

.tabbable > .nav > li > a {
  background-color: white;
  color:#2196c4
}

.tabbable > .nav > li[class=active] > a {
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
}

.tabbable > .nav > li > a[data-value='data-summary'],
.tabbable > .nav > li > a[data-value='frequentist-analysis'],
.tabbable > .nav > li > a[data-value='bayesian-analysis'],
.tabbable > .nav > li > a[data-value='meta-regression'] {
  background-color: #2196c4;
  color: white;
  font-size: 18px
}