#logHeader {
	position:relative;
	min-height:90px;
	background: inherit;
	z-index:10;
}
#logContent {
  position:absolute;
  z-index: 5;
}
#messageLog {
  height:100px;
  width:450px;
  padding:5px;
  overflow:auto;
  border:1px solid grey;
}

.log_start{
  color:CornflowerBlue;
}

.log_end{
  color:green;
}

.log_info{
  color:blue;
}

.log_warn{
  color:orange;
}

.log_error{
  color:red;
}

hr {
    border: none;
    height: 5px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.shiny-progress .bar {
  background-color:#FF0000;
  opacity:0.8;
}
.shiny-progress .progress {
  height:7px;
}
.componentName {
  display:inline-block;
  font-size:16pt;
  font-weight:bold;
}
.compHelpButton {
  display:inline-block;
  margin:0px;
  font-size:14pt;
}
.rpkg {
  font-size:10pt;
  font-weight:bold;
}
.mod {
  display:inline;
  color:#699FA1;
  font-size:14pt;
  font-weight:bold;
}
.modHelpButton {
  color:#699FA1;
  margin:0px;
  font-size:12pt;
}
.modHelpButton:hover {
  color:#A5D6D9;
}
.modHelpButton:focus {
  color:#699FA1;
}
.pkgTitl {
  font-size:10pt;
  font-weight:bold;
  font-style:italic;
}
.pkgDes {
  font-size:10pt;
  font-style:italic;
}
.step {
  color: #DD8627;
  font-weight:bold;
  font-size:14pt;
}
.stepText {
  font-style:italic;
  font-size:14pt;
}
.butReset {
  background-color: #C51E10;
  color: white;
  padding: 5px 5px;
  border: none;
}
.butReset:hover {
  background-color: #830D03;
  color: white;
}
.butResXf {
  background-color: #C51E10;
  color: white;
  padding: 1px 1px;
  border: none;
}
.hrDashed {
  border: 0;
  border-bottom: 1px dashed #606060;
  background: transparent;
}
.hrDotted {
  border: 0;
  border-bottom: 1px dotted #606060;
  background: transparent;
}

#save_warning {
  color: red;
}
.save_icon {
  color:#606060;
  margin:0px;
}
.mod_icon {
  color:#699FA1;
  margin:0px;
}

.download_buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.download_buttons.btn-default {
  width: 100% !important;
  box-sizing: border-box !important;
}

.loading-icon {
  width: 100%;
  font-size: clamp(40px, 8vw, 100px);
  color: #FF5733;
  text-align: center;
}

.shiny-spinner-output-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

.load-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #005c8a;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* hide empty panels created by bslib::nav_panel */
.container-fluid.html-fill-item.html-fill-container {
  display: none !important;
}
